@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap");

:root {
    --primary-color: #05052a;
    --button-hover-color: #7c7c86;
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: "Open Sans", sans-serif;
    font-size: 1.3em;
    color: var(--primary-color);
    line-height: 1.5em;

    .container {
        max-width: 640px;
        margin: 50px auto;
        background: #fff;
        padding: 20px;
        border-radius: 10px;
        text-align: center;

        button {
            border: none;
            background: var(--primary-color);
            color: #fff;
            font-size: 18px;
            height: 50px;
            width: 100px;
            cursor: pointer;

            &:hover {
                background: var(--button-hover-color);
            }
        }

        .clock {
            font-size: 3em;
        }
    }
}
